In [6]:

## importing necessary libraries 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [4]:
# reading loan file
df_loan = pd.read_csv(r"D:\PGDML\EDA Case Study\loan.csv")
df_loan.head()

C:\Users\divyuk\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (47) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

In [5]:
df_loan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Columns: 111 entries, id to total_il_high_credit_limit
dtypes: float64(74), int64(13), object(24)
memory usage: 33.6+ MB

In [8]:
df_loan.shape

(39717, 111)

In [9]:
# summing up the missing values (column-wise)
round(100*(df_loan.isnull().sum()/len(df_loan.index)), 2)

id                                  0.00
member_id                           0.00
loan_amnt                           0.00
funded_amnt                         0.00
funded_amnt_inv                     0.00
term                                0.00
int_rate                            0.00
installment                         0.00
grade                               0.00
sub_grade                           0.00
emp_title                           6.19
emp_length                          2.71
home_ownership                      0.00
annual_inc                          0.00
verification_status                 0.00
issue_d                             0.00
loan_status                         0.00
pymnt_plan                          0.00
url                                 0.00
desc                               32.58
purpose                             0.00
title                               0.03
zip_code                            0.00
addr_state                          0.00
dti                                 0.00
delinq_2yrs                         0.00
earliest_cr_line                    0.00
inq_last_6mths                      0.00
mths_since_last_delinq             64.66
mths_since_last_record             92.99
                                   ...
mo_sin_old_rev_tl_op              100.00
mo_sin_rcnt_rev_tl_op             100.00
mo_sin_rcnt_tl                    100.00
mort_acc                          100.00
mths_since_recent_bc              100.00
mths_since_recent_bc_dlq          100.00
mths_since_recent_inq             100.00
mths_since_recent_revol_delinq    100.00
num_accts_ever_120_pd             100.00
num_actv_bc_tl                    100.00
num_actv_rev_tl                   100.00
num_bc_sats                       100.00
num_bc_tl                         100.00
num_il_tl                         100.00
num_op_rev_tl                     100.00
num_rev_accts                     100.00
num_rev_tl_bal_gt_0               100.00
num_sats                          100.00
num_tl_120dpd_2m                  100.00
num_tl_30dpd                      100.00
num_tl_90g_dpd_24m                100.00
num_tl_op_past_12m                100.00
pct_tl_nvr_dlq                    100.00
percent_bc_gt_75                  100.00
pub_rec_bankruptcies                1.75
tax_liens                           0.10
tot_hi_cred_lim                   100.00
total_bal_ex_mort                 100.00
total_bc_limit                    100.00
total_il_high_credit_limit        100.00
Length: 111, dtype: float64

In [13]:
# removing columns with all missing values
df_loan_new=df_loan.dropna(axis=1, how='all')

In [14]:
df_loan_new.shape

(39717, 57)

In [15]:
# summing up the missing values (column-wise)
round(100*(df_loan_new.isnull().sum()/len(df_loan_new.index)), 2)

id                             0.00
member_id                      0.00
loan_amnt                      0.00
funded_amnt                    0.00
funded_amnt_inv                0.00
term                           0.00
int_rate                       0.00
installment                    0.00
grade                          0.00
sub_grade                      0.00
emp_title                      6.19
emp_length                     2.71
home_ownership                 0.00
annual_inc                     0.00
verification_status            0.00
issue_d                        0.00
loan_status                    0.00
pymnt_plan                     0.00
url                            0.00
desc                          32.58
purpose                        0.00
title                          0.03
zip_code                       0.00
addr_state                     0.00
dti                            0.00
delinq_2yrs                    0.00
earliest_cr_line               0.00
inq_last_6mths                 0.00
mths_since_last_delinq        64.66
mths_since_last_record        92.99
open_acc                       0.00
pub_rec                        0.00
revol_bal                      0.00
revol_util                     0.13
total_acc                      0.00
initial_list_status            0.00
out_prncp                      0.00
out_prncp_inv                  0.00
total_pymnt                    0.00
total_pymnt_inv                0.00
total_rec_prncp                0.00
total_rec_int                  0.00
total_rec_late_fee             0.00
recoveries                     0.00
collection_recovery_fee        0.00
last_pymnt_d                   0.18
last_pymnt_amnt                0.00
next_pymnt_d                  97.13
last_credit_pull_d             0.01
collections_12_mths_ex_med     0.14
policy_code                    0.00
application_type               0.00
acc_now_delinq                 0.00
chargeoff_within_12_mths       0.14
delinq_amnt                    0.00
pub_rec_bankruptcies           1.75
tax_liens                      0.10
dtype: float64

In [18]:
# deleting columns with more than 30% missing

df_loan_new = df_loan_new.drop('desc', axis=1)
df_loan_new = df_loan_new.drop('mths_since_last_delinq', axis=1)
df_loan_new = df_loan_new.drop('mths_since_last_record', axis=1)
df_loan_new = df_loan_new.drop('next_pymnt_d', axis=1)

In [19]:
round(100*(df_loan_new.isnull().sum()/len(df_loan_new.index)), 2)

id                            0.00
member_id                     0.00
loan_amnt                     0.00
funded_amnt                   0.00
funded_amnt_inv               0.00
term                          0.00
int_rate                      0.00
installment                   0.00
grade                         0.00
sub_grade                     0.00
emp_title                     6.19
emp_length                    2.71
home_ownership                0.00
annual_inc                    0.00
verification_status           0.00
issue_d                       0.00
loan_status                   0.00
pymnt_plan                    0.00
url                           0.00
purpose                       0.00
title                         0.03
zip_code                      0.00
addr_state                    0.00
dti                           0.00
delinq_2yrs                   0.00
earliest_cr_line              0.00
inq_last_6mths                0.00
open_acc                      0.00
pub_rec                       0.00
revol_bal                     0.00
revol_util                    0.13
total_acc                     0.00
initial_list_status           0.00
out_prncp                     0.00
out_prncp_inv                 0.00
total_pymnt                   0.00
total_pymnt_inv               0.00
total_rec_prncp               0.00
total_rec_int                 0.00
total_rec_late_fee            0.00
recoveries                    0.00
collection_recovery_fee       0.00
last_pymnt_d                  0.18
last_pymnt_amnt               0.00
last_credit_pull_d            0.01
collections_12_mths_ex_med    0.14
policy_code                   0.00
application_type              0.00
acc_now_delinq                0.00
chargeoff_within_12_mths      0.14
delinq_amnt                   0.00
pub_rec_bankruptcies          1.75
tax_liens                     0.10
dtype: float64

In [20]:
# treating missing values in rows where >5

df_loan_new[df_loan_new.isnull().sum(axis=1) > 5]

Empty DataFrame
Columns: [id, member_id, loan_amnt, funded_amnt, funded_amnt_inv, term, int_rate, installment, grade, sub_grade, emp_title, emp_length, home_ownership, annual_inc, verification_status, issue_d, loan_status, pymnt_plan, url, purpose, title, zip_code, addr_state, dti, delinq_2yrs, earliest_cr_line, inq_last_6mths, open_acc, pub_rec, revol_bal, revol_util, total_acc, initial_list_status, out_prncp, out_prncp_inv, total_pymnt, total_pymnt_inv, total_rec_prncp, total_rec_int, total_rec_late_fee, recoveries, collection_recovery_fee, last_pymnt_d, last_pymnt_amnt, last_credit_pull_d, collections_12_mths_ex_med, policy_code, application_type, acc_now_delinq, chargeoff_within_12_mths, delinq_amnt, pub_rec_bankruptcies, tax_liens]
Index: []

[0 rows x 53 columns]

In [27]:
# Data Cleaning
# Cleaning employee Length

df_loan_new['emp_length_clean'] = df_loan_new.emp_length.str.replace('+','')
df_loan_new['emp_length_clean'] = df_loan_new.emp_length_clean.str.replace('< 1','0')
df_loan_new['emp_length_clean'] = df_loan_new.emp_length_clean.str.replace('years','')
df_loan_new['emp_length_clean'] = df_loan_new.emp_length_clean.str.replace('year','')

In [28]:
df_loan_new.emp_length_clean.unique()

array(['10 ', '0 ', '1 ', '3 ', '8 ', '9 ', '4 ', '5 ', '6 ', '2 ', '7 ',
       nan], dtype=object)

In [29]:
df_loan_new['emp_length_clean'] = df_loan_new.emp_length_clean.map(float)

In [30]:
df_loan_new.emp_length_clean.unique()

array([10.,  0.,  1.,  3.,  8.,  9.,  4.,  5.,  6.,  2.,  7., nan])

In [33]:
df_loan_new.head(1000)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens,emp_length_clean
0,1077501,1296599,5000,5000,4975.00000,36 months,10.65%,162.87,B,B2,...,16-May,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,10.0
1,1077430,1314167,2500,2500,2500.00000,60 months,15.27%,59.83,C,C4,...,13-Sep,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,0.0
2,1077175,1313524,2400,2400,2400.00000,36 months,15.96%,84.33,C,C5,...,16-May,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,10.0
3,1076863,1277178,10000,10000,10000.00000,36 months,13.49%,339.31,C,C1,...,16-Apr,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,10.0
4,1075358,1311748,3000,3000,3000.00000,60 months,12.69%,67.79,B,B5,...,16-May,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,1.0
5,1075269,1311441,5000,5000,5000.00000,36 months,7.90%,156.46,A,A4,...,16-Jan,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,3.0
6,1069639,1304742,7000,7000,7000.00000,60 months,15.96%,170.08,C,C5,...,16-May,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,8.0
7,1072053,1288686,3000,3000,3000.00000,36 months,18.64%,109.43,E,E1,...,14-Dec,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,9.0
8,1071795,1306957,5600,5600,5600.00000,60 months,21.28%,152.39,F,F2,...,12-Aug,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,4.0
9,1071570,1306721,5375,5375,5350.00000,60 months,12.69%,121.45,B,B5,...,13-Mar,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,0.0
10,1070078,1305201,6500,6500,6500.00000,60 months,14.65%,153.45,C,C3,...,15-Dec,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,5.0
11,1069908,1305008,12000,12000,12000.00000,36 months,12.69%,402.54,B,B5,...,13-Aug,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,10.0
12,1064687,1298717,9000,9000,9000.00000,36 months,13.49%,305.38,C,C1,...,12-Nov,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,0.0
13,1069866,1304956,3000,3000,3000.00000,36 months,9.91%,96.68,B,B1,...,16-May,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,3.0
14,1069057,1303503,10000,10000,10000.00000,36 months,10.65%,325.74,B,B2,...,14-Mar,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,3.0
15,1069759,1304871,1000,1000,1000.00000,36 months,16.29%,35.31,D,D1,...,16-May,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,0.0
16,1065775,1299699,10000,10000,10000.00000,36 months,15.27%,347.98,C,C4,...,15-Apr,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,4.0
17,1069971,1304884,3600,3600,3600.00000,36 months,6.03%,109.57,A,A1,...,14-May,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,10.0
18,1062474,1294539,6000,6000,6000.00000,36 months,11.71%,198.46,B,B3,...,15-Jul,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,1.0
19,1069742,1304855,9200,9200,9200.00000,36 months,6.03%,280.01,A,A1,...,16-Feb,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,6.0
20,1069740,1284848,20250,20250,19142.16108,60 months,15.27%,484.63,C,C4,...,16-Mar,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,3.0
21,1039153,1269083,21000,21000,21000.00000,36 months,12.42%,701.73,B,B4,...,16-May,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,10.0
22,1069710,1304821,10000,10000,10000.00000,36 months,11.71%,330.76,B,B3,...,16-May,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,10.0
23,1069700,1304810,10000,10000,10000.00000,36 months,11.71%,330.76,B,B3,...,14-Mar,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,5.0
24,1069559,1304634,6000,6000,6000.00000,36 months,11.71%,198.46,B,B3,...,13-Mar,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,1.0
25,1069697,1273773,15000,15000,15000.00000,36 months,9.91%,483.38,B,B1,...,12-Sep,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,2.0
26,1069800,1304679,15000,15000,8725.00000,36 months,14.27%,514.64,C,C2,...,16-May,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,9.0
27,1069657,1304764,5000,5000,5000.00000,60 months,16.77%,123.65,D,D2,...,13-May,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,2.0
28,1069799,1304678,4000,4000,4000.00000,36 months,11.71%,132.31,B,B3,...,16-May,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,10.0
29,1047704,1278806,8500,8500,8500.00000,36 months,11.71%,281.15,B,B3,...,15-Jan,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,1057996,1289569,7200,7200,7200.00000,36 months,9.91%,232.02,B,B1,...,16-Apr,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,1.0
971,1058162,1289739,5000,5000,5000.00000,36 months,14.27%,171.55,C,C2,...,16-May,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,10.0
972,1055265,1286822,6600,6600,6600.00000,36 months,10.65%,214.99,B,B2,...,16-May,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,2.0
973,1018385,1246619,7000,7000,7000.00000,36 months,6.62%,214.93,A,A2,...,13-Sep,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,NaN
974,1054294,1286133,20000,20000,20000.00000,36 months,15.27%,695.96,C,C4,...,15-Dec,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,0.0
975,1057750,1289517,8000,8000,8000.00000,36 months,12.42%,267.33,B,B4,...,14-Sep,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,4.0
976,1057923,1289295,12000,12000,12000.00000,36 months,9.91%,386.70,B,B1,...,14-Feb,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,6.0
977,1057816,1289185,20000,20000,19975.00000,36 months,11.71%,661.52,B,B3,...,14-Sep,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,7.0
978,1057900,1289271,10000,10000,10000.00000,36 months,8.90%,317.54,A,A5,...,14-Dec,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,10.0
979,1056770,1288321,16000,10175,10150.00000,60 months,12.69%,229.91,B,B5,...,16-May,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,7.0
980,1057710,1289477,10000,10000,10000.00000,36 months,11.71%,330.76,B,B3,...,16-May,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,5.0
981,1057323,1288886,18000,18000,18000.00000,36 months,16.29%,635.41,D,D1,...,14-Dec,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,2.0
982,1057878,1289248,4000,4000,4000.00000,36 months,12.42%,133.67,B,B4,...,14-Sep,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,7.0
983,1057726,1289493,15000,15000,15000.00000,36 months,12.42%,501.23,B,B4,...,14-Dec,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,NaN
984,1057720,1289487,10000,10000,10000.00000,60 months,18.64%,257.43,E,E1,...,13-Feb,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,5.0
985,1049053,1280217,29500,17900,17850.00000,60 months,14.27%,419.02,C,C2,...,16-May,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,10.0
986,1057448,1289007,20125,20125,20100.00000,60 months,19.42%,526.72,E,E3,...,15-Dec,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,10.0
987,1057669,1289434,30000,18375,18375.00000,60 months,21.28%,500.01,F,F2,...,13-Dec,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,0.0
988,1050535,1281992,24000,24000,24000.00000,36 months,16.77%,852.93,D,D2,...,16-May,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,10.0
989,1057674,1289439,14000,14000,13950.00000,60 months,15.96%,340.16,C,C5,...,16-May,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,3.0
990,1057806,1289174,5375,5375,5375.00000,36 months,10.65%,175.09,B,B2,...,14-Jan,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,5.0
991,1057615,1289379,8300,8300,8300.00000,36 months,8.90%,263.56,A,A5,...,16-May,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,10.0
992,1057818,1289186,7000,7000,7000.00000,36 months,8.90%,222.28,A,A5,...,14-Dec,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,5.0
993,1057629,1289394,2425,2425,2425.00000,36 months,15.27%,84.39,C,C4,...,15-Jul,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,3.0
994,1057621,1289385,6950,6950,6950.00000,36 months,9.91%,223.97,B,B1,...,14-Apr,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,2.0
995,1057787,1289153,12375,12375,12344.46478,36 months,9.91%,398.79,B,B1,...,16-May,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,10.0
996,1057770,1289135,35000,35000,33906.19420,60 months,20.30%,933.14,E,E5,...,16-Feb,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,10.0
997,1057275,1288835,14000,14000,14000.00000,60 months,17.27%,349.98,D,D3,...,16-May,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,5.0
998,1057330,1288893,14000,14000,14000.00000,36 months,14.27%,480.33,C,C2,...,13-Dec,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,0.0
999,1057773,1289138,5500,5500,5500.00000,36 months,14.27%,188.70,C,C2,...,13-Jul,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,5.0

In [34]:
df_loan_new.describe()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,...,collection_recovery_fee,last_pymnt_amnt,collections_12_mths_ex_med,policy_code,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens,emp_length_clean
count,3.971700e+04,3.971700e+04,39717.000000,39717.000000,39717.000000,39717.000000,3.971700e+04,39717.000000,39717.000000,39717.000000,...,39717.000000,39717.000000,39661.0,39717.0,39717.0,39661.0,39717.0,39020.000000,39678.0,38642.000000
mean,6.831319e+05,8.504636e+05,11219.443815,10947.713196,10397.448868,324.561922,6.896893e+04,13.315130,0.146512,0.869200,...,12.406112,2678.826162,0.0,1.0,0.0,0.0,0.0,0.043260,0.0,4.973449
std,2.106941e+05,2.656783e+05,7456.670694,7187.238670,7128.450439,208.874874,6.379377e+04,6.678594,0.491812,1.070219,...,148.671593,4447.136012,0.0,0.0,0.0,0.0,0.0,0.204324,0.0,3.562580
min,5.473400e+04,7.069900e+04,500.000000,500.000000,0.000000,15.690000,4.000000e+03,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,1.0,0.0,0.0,0.0,0.000000,0.0,0.000000
25%,5.162210e+05,6.667800e+05,5500.000000,5400.000000,5000.000000,167.020000,4.040400e+04,8.170000,0.000000,0.000000,...,0.000000,218.680000,0.0,1.0,0.0,0.0,0.0,0.000000,0.0,2.000000
50%,6.656650e+05,8.508120e+05,10000.000000,9600.000000,8975.000000,280.220000,5.900000e+04,13.400000,0.000000,1.000000,...,0.000000,546.140000,0.0,1.0,0.0,0.0,0.0,0.000000,0.0,4.000000
75%,8.377550e+05,1.047339e+06,15000.000000,15000.000000,14400.000000,430.780000,8.230000e+04,18.600000,0.000000,1.000000,...,0.000000,3293.160000,0.0,1.0,0.0,0.0,0.0,0.000000,0.0,9.000000
max,1.077501e+06,1.314167e+06,35000.000000,35000.000000,35000.000000,1305.190000,6.000000e+06,29.990000,11.000000,8.000000,...,7002.190000,36115.200000,0.0,1.0,0.0,0.0,0.0,2.000000,0.0,10.000000

In [36]:
# removing months from term

df_loan_new['term']=df_loan_new['term'].map(lambda x: x.strip('months'))
df_loan_new.head(30)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens,emp_length_clean
0,1077501,1296599,5000,5000,4975.00000,36,10.65%,162.87,B,B2,...,16-May,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,10.0
1,1077430,1314167,2500,2500,2500.00000,60,15.27%,59.83,C,C4,...,13-Sep,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,0.0
2,1077175,1313524,2400,2400,2400.00000,36,15.96%,84.33,C,C5,...,16-May,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,10.0
3,1076863,1277178,10000,10000,10000.00000,36,13.49%,339.31,C,C1,...,16-Apr,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,10.0
4,1075358,1311748,3000,3000,3000.00000,60,12.69%,67.79,B,B5,...,16-May,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,1.0
5,1075269,1311441,5000,5000,5000.00000,36,7.90%,156.46,A,A4,...,16-Jan,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,3.0
6,1069639,1304742,7000,7000,7000.00000,60,15.96%,170.08,C,C5,...,16-May,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,8.0
7,1072053,1288686,3000,3000,3000.00000,36,18.64%,109.43,E,E1,...,14-Dec,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,9.0
8,1071795,1306957,5600,5600,5600.00000,60,21.28%,152.39,F,F2,...,12-Aug,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,4.0
9,1071570,1306721,5375,5375,5350.00000,60,12.69%,121.45,B,B5,...,13-Mar,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,0.0
10,1070078,1305201,6500,6500,6500.00000,60,14.65%,153.45,C,C3,...,15-Dec,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,5.0
11,1069908,1305008,12000,12000,12000.00000,36,12.69%,402.54,B,B5,...,13-Aug,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,10.0
12,1064687,1298717,9000,9000,9000.00000,36,13.49%,305.38,C,C1,...,12-Nov,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,0.0
13,1069866,1304956,3000,3000,3000.00000,36,9.91%,96.68,B,B1,...,16-May,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,3.0
14,1069057,1303503,10000,10000,10000.00000,36,10.65%,325.74,B,B2,...,14-Mar,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,3.0
15,1069759,1304871,1000,1000,1000.00000,36,16.29%,35.31,D,D1,...,16-May,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,0.0
16,1065775,1299699,10000,10000,10000.00000,36,15.27%,347.98,C,C4,...,15-Apr,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,4.0
17,1069971,1304884,3600,3600,3600.00000,36,6.03%,109.57,A,A1,...,14-May,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,10.0
18,1062474,1294539,6000,6000,6000.00000,36,11.71%,198.46,B,B3,...,15-Jul,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,1.0
19,1069742,1304855,9200,9200,9200.00000,36,6.03%,280.01,A,A1,...,16-Feb,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,6.0
20,1069740,1284848,20250,20250,19142.16108,60,15.27%,484.63,C,C4,...,16-Mar,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,3.0
21,1039153,1269083,21000,21000,21000.00000,36,12.42%,701.73,B,B4,...,16-May,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,10.0
22,1069710,1304821,10000,10000,10000.00000,36,11.71%,330.76,B,B3,...,16-May,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,10.0
23,1069700,1304810,10000,10000,10000.00000,36,11.71%,330.76,B,B3,...,14-Mar,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,5.0
24,1069559,1304634,6000,6000,6000.00000,36,11.71%,198.46,B,B3,...,13-Mar,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,1.0
25,1069697,1273773,15000,15000,15000.00000,36,9.91%,483.38,B,B1,...,12-Sep,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,2.0
26,1069800,1304679,15000,15000,8725.00000,36,14.27%,514.64,C,C2,...,16-May,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,9.0
27,1069657,1304764,5000,5000,5000.00000,60,16.77%,123.65,D,D2,...,13-May,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,2.0
28,1069799,1304678,4000,4000,4000.00000,36,11.71%,132.31,B,B3,...,16-May,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,10.0
29,1047704,1278806,8500,8500,8500.00000,36,11.71%,281.15,B,B3,...,15-Jan,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,0.0

In [37]:
# rounding funded_amt_inv
df_loan_new['funded_amnt_inv'] = round(df_loan_new['funded_amnt_inv'],2)
df_loan_new.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens,emp_length_clean
0,1077501,1296599,5000,5000,4975.0,36,10.65%,162.87,B,B2,...,16-May,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,10.0
1,1077430,1314167,2500,2500,2500.0,60,15.27%,59.83,C,C4,...,13-Sep,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,0.0
2,1077175,1313524,2400,2400,2400.0,36,15.96%,84.33,C,C5,...,16-May,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,10.0
3,1076863,1277178,10000,10000,10000.0,36,13.49%,339.31,C,C1,...,16-Apr,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,10.0
4,1075358,1311748,3000,3000,3000.0,60,12.69%,67.79,B,B5,...,16-May,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,1.0